@charset "utf-8";
html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-image: url(../images/SVG/banner-01.svg);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
	display: grid;
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}

.container-AboutProducts .card.p-3.bg-white {
    height: 550px;
	border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

img.benefit1, img.benefit2, img.benefit3, img.benefit4 {
	width: 300px;
	height: 275px;
	border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.container-AboutProducts h1 {
    margin-bottom: 100px;
}

.container-product h4 {
    margin-top: 10px;
}

.container-AboutProducts h2.text-center {
	text-align: center;
	width: 100%;
}

.carouselContainer {
	background: #6EA0B8;
}

#facebook, #instagram {
	width: 50px;
}

.colorPaletteText h4 {
    text-align: center;
	margin-bottom: 25px;
}

.FlowChartText h4 {
    text-align: center;
    margin-bottom: 25px;
}

.container-contact {
	background: #e3b1b1;
}

.container-about-design {
    padding: 75px;
}

img.email {
    width: 50px;
}

.textEmail a {
    display: flex;
    color: black;
}

.textEmail p {
    position: relative;
    left: 10px;
}

.container-font h4 {
    text-align: center;
}

.textEmail {
    display: flex;
}

#facebook1, #instagram1 {
	width: 50px;
}

#facebookContact {
	width: 75px;
}

#instagramContact {
	width: 75px;
	margin-top: 50px;
}

/* Mission Page */

.card-body {
	height: 290px;
}

.container-missionTop {
	padding: 0px;
    background: #e3b1b2;
}

.container-socialsContact {
    background: #669691;
    padding-top: 75px;
    border-top: 2px solid black;
}


img.missionImage {
	margin: 0 auto;
	margin-top: 2px;
	display: block;
	max-width:1000px;
    width:100%;
    height:auto;
	
}

.container-contact h1.text-center:hover {
    color: #6EA0b8;
}

.backgroundmissionpage {
	background-color: #669691;
	
}

.container-cards{
	background-color: #e3b1b2;
	border-bottom: 2px solid black;
	padding: 50px 50px 75px 50px;
}

/* Product Page */

.card {
    width: 444px;
	margin-bottom: 50px;
	border-radius: 5%;
}

.headerAboutProducts h1 {
	text-align: center;
	color: white;
	font-family: 'Staatliches', cursive;
	font-size: 60px;
}

i.fa.fa-apple {
    font-size: 21px;
    text-align: center;
}

.container-AboutProducts .col-md-4 {
	padding: 25px;
}

.container-AboutProducts {
	padding: 75px;
	background: #669691;
}

.container-AboutProducts p {
	color: black;
	text-align: center;
	width: 100%;
	font-size: 20px;
}

.container-AboutProducts .card>hr {
    margin-top:  25px;
}

.headerProducts h1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 80px;
	color: white;
	font-family: 'Staatliches', cursive;
}

.headerProducts h1:hover {
color: #6EA0B8;
}

.container-product h4 {
	color: #6ea0b8;
}

.container-product h6 {
	font-size: 21px;
}

.container-product {
	background: #e3b1b1;
}

.container-about-design {
    background-image: url(url);
    background-color: #E3B1B2;
}

.container-wireframes {
    background-color: #43A8D4;
}

.flowdiagram {
    background-color: #E3B1B2;
}

.container-prototype {
    background-color: #9F9D9E;
}

@media (max-width: 1200px) {
	.container-product img {
    width: 200px;
	
	}
}

.container-product {
    padding-bottom: 50px;
	padding-top: 25px;
	border-bottom: 2px solid black;
}

.socials img {
    margin-right: 15px;
	margin-top: 10px;
}

.mapText h1 {
   margin: 75px 0px 10px 0px;
}

.mapText p {
    font-size: 18px;
}

.mapFrame {
	border-top: 2px solid black;
}


.contactText h1 {
    margin-bottom: 25px;
    font-size: 70px;
}


.textSocialContact p {
    margin-top: 15px;
    font-size: 24px;
}

.firstcontainer{
    background-color: #e3b1b1;
	padding: 50px;
	border-bottom: 2px solid #000000;
}

a.nav-link {
    background: none;
}

.container-about {
	padding: 75px;
	background: #9f9d9e;
	border-bottom: 2px solid #000000;
}

img.shoppingcart {
    right: 20px;
}

p.comfortSeason {
    font-size: 8rem;
    color: white;
    float: left;
    left: -400px;
    position: absolute;
    text-align: center;
    font-family: 'Staatliches', cursive;
    margin-left: 140px;
}

.container comfort {
    padding: 100px;
    background: #6EA0b8;
}

footer.page-footer {
    color: black;
    border-top: 2px solid #000000;
}

.navbar-expand-lg .navbar-collapse {
    background: white;
}

.container-cards .mx-auto {
	max-width: 100%;
}


ul.navbar-nav.mr-auto {
    background: white;
}

.container.comfort {
	padding: 50px 50px 0 50px;
}

.colorPaletteText h1 {
	color: white;
	text-align: center;
	width: 100%;
	margin-bottom: 35px;
	font-size: 3.5rem;
}

.container-palette {
    background: #9f9d9e;
}

.missionText h1 {
	text-align: center;
	color: white;
	font-size: 3.5rem;
}

a.nav-link {
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.missionText p {
	text-align: center;
	font-size: 30px;
}


.container-mission {
    padding: 75px;
    background: #669691;
    border-bottom: 2px solid #000000;
}



.colorPaletteText p {
	text-align: center;
	width: 100%;
	font-size: 2rem;
}

img.colorPalette {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 1200px;
	margin-top: 25px;
}

	.headje{
	font-family: 'Staatliches', cursive;
	text-align: left;
	padding-top: 61px;
	padding-bottom: 61px;
	color: white;
	}

	#fontjegroot{
	font-size: 100px;	
	}

	#fontjegroot:hover{
	color: #6EA0B8;
	}

#fontjegroot1{
	font-size: 100px;
}

#fontjegroot1:hover{
	color: #6ea0b8;
}

#fontjegroot2{
	font-size: 120px;
}
#fontjegroot2:hover{
	color: #6ea0b8;
}
	.paragrahpho{
	padding-top: 61px;
	padding-bottom: 61px;
	font-size: 30px;
	color: white;
	}

	.who{
	color: white;
	margin-bottom: 50px;
	font-size: 100px;
	font-family: 'Staatliches', cursive;
	text-align: center;
	}

	.persons{
	background-color: #669691;
	margin-top: 10px;
	text-align: center;
	color: white;
	}

	.persons:hover{
	background-color:#E3B1B1;
	}

	.containervalues{
	background-color: #669691;
	padding-bottom: 68px;
	}

	#ourvalues{
	color: white;
	font-size: 100px;
	font-family: 'Staatliches', cursive;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 50px;
	}

	.values{
	color: white;
	text-align: center;
	font-family: 'Staatliches', cursive;
	font-size: 60px;
	width: 75%;
    margin: 0 auto;
	margin-top: 20px;
	text-decoration: underline;
	}

p.paragraphvalues {
	text-align: center;
    position: relative;
    left: 10px;
    width: 75%;
    display: block;
    margin: 0 auto;
    font-size: 22px;
	}

.comfortSeason:hover{
	color: #6EA0B8;
}

.text-center{
	font-family: 'Staatliches', cursive;
    color: white;
}

#headervision{
		font-family: 'Staatliches', cursive;
    	color: white;
		font-size:100px;
}

#visionparagraph{
    font-size: 31px;
    font-style: italic;
	color: white;
}

.gotoshop{
    background-color: #6EA0B8;
    border-top: 2px solid #000000;
}

#gotoproducts{
    font-family: 'Staatliches', cursive;
    color: #000000;
    font-size: 40px;
    padding-top: 30px;
    text-align: center;	
}

#gotoproducts:hover{
	color:white;
}

#whowe1, #whowe2, #whowe3, #whowe4 {
    border-radius: 50%
}

/* Contact */
form#contact-form {
    width: 60%;
    left: 0;
    padding: 75px 100px 75px 100px;
    right: 0;
    position: relative;
	margin: 0 auto;
}

/* Carousel */
.Test1 {
	padding: 25px 25px 50px 25px;
	color: white;
	text-align: center;
}

.Test1 p{
	text-align: center;
	color: white;
	font-size: 28px;
	margin-top: 10px;
}

img.review1  {
    width: 400px;
    height: 400px;
    border-radius: 200px;
}

img.review2  {
    width: 400px;
    height: 400px;
    border-radius: 200px;
}

img.review3  {
    width: 400px;
    height: 400px;
	  border-radius: 200px;
}

.Test1 h1 {
	margin-bottom: 25px;
}
	
.valuephotos{
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 20px;	
	border-radius: 50%
}

#image1, #image2, #image3, #image4 {
	width: 300px;
	height: 300px;
	border: 4px solid #e3b1b1;
}

.containerImages {
    padding: 50px;
    background: #669691;
	border-bottom: 2px solid black;
}

.containerImages h1 {
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.containerImages p {
    text-align: center;
    color: white;
    margin-top: 25px;
    font-size: 24px;
}

.headerproducts{
	font-family: 'Staatliches', cursive;
	color: white;
	font-size:100px;
}


/* Map, contact page */
.maps {
    display:grid;
    place-items:center;
}

.maps iframe {
    width: 100%;
	height: 400px;
} 

.container.map {
    width: 100%;
	max-width: 100%;
    padding: 0;
	background: #669691;
}

#moreproducts{
    font-family: 'Staatliches', cursive;
    color: white;
    font-size: 25px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
	
}

#moreproducts:hover{
	color:#e3b1b1;
}

.mailIcon {
	width: 40px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlayProduct {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 300px;;
	display: block;
	margin: 0 auto;
	opacity: 0;
	transition: .5s ease;
	background-color: #e3b1b1;
}

#overlayProduct1:hover {
  opacity: 0.8;
}

#overlayProduct2:hover {
  opacity: 0.8;
}

#overlayProduct3:hover {
  opacity: 0.8;
}

#overlayProduct4:hover {
  opacity: 0.8;
}
	
.arrow{
	color: white;
	font-size: 100px;
	margin-left: auto;
	margin-right: auto;
	display: table;
	cursor: pointer;
}

.arrow:hover {
	color: #6ea0b8;
	opacity: 1;
}

.textProduct {
  color: white;
  font-size: 20px;
font-family: 'Staatliches';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.picture1 {
	width: 700px;
    border-radius: 10px;
	margin-left: 50px;
}

footer.page-footer {
	font-size: 1.5rem;
	border-top: 2px solid black;
}

.headerFooter h6 {
	font-size: 1.5rem;
	color: black;
}

.headerFooterContact h6 {
	font-size: 1.5rem;
	color: black;
}

a.nav-link {
    font-size: 19px;
}

a.nav-link:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.navbar {
    background: #8493bf;
}

.textHome {
	text-align: center;
	color: white;
	font-size: 18px;
}

.logoText {
    font-size: 38px;
    color: #fff;
    margin-left: 30px;
	margin-bottom: 5px;
}

.nav-link,
.navbar-brand {
	color: #fff;
	cursor: pointer;
}

.nav-link {
	margin-right: 1em !important;
}

.nav-link:hover {
	color: #000;
}

.navbar-collapse {
	justify-content: flex-end;
}

.header {
	background-size: cover;
	background-position: center;
	position: relative;
}

.mr-auto, .mx-auto {
    margin: 0 auto;
}

.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: #9F9E9E;
}


button.btn.btn-outline-secondary.btn-lg {
    padding: 5px 10px;
}

.topText {
	color: #E3B1B1;
	text-align: center;
	font-family: 'Staatliches', cursive;
	font-size: 120px;
	
}

.description {
	left: 45%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}

.description h1 {
	color: #8493BF;
}

img.Posby {
	height: 60px;
}

a.nav-link {
    background: white;
    padding: 1px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: white !important;
	padding: 0;
}

li.nav-item {
    list-style: none;
    margin: 0;
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
}

.description p {
	color: #fff;
	font-size: 8rem;
	line-height: 1.5;
	margin-right: 100px;
}

.description button {
	border: 1px solid #8493BF;
	background: #8493BF;
	border-radius: 0;
	color: #fff;
}

.description button:hover {
	border: 1px solid #fff;
	background: #fff;
	color: #000;
}


/*--- Feature section ---*/
.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}

.featuresTop {
    position: relative;
}

.feature-title {
	color: #fff;
	text-align: center;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
	background:  #F2B694;
	padding: 5px;
    border-radius: 10px;
}

.features .form-control,
.features input {
	border-radius: 0;
}

.features .btn {
	background-color: #589b37;
	border: 1px solid #589b37;
	color: #fff;
	margin-top: 20px;
}

.features .btn:hover {
	background-color: #333;
	border: 1px solid #333;
}

/*--- Team section ---*/
.background {
	background: #dedec8;
	padding: 4em 0;
}

.team {
	color: #5e5e55;
	padding: 0 180px;
}

.team .card-columns {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
}

.team .card {
	background:none;
	border: none;
}

.team .card-title {
	font-size: 1.3rem;
	margin-bottom: 0;
	text-transform: uppercase;
}

/*--- footer ---*/
.page-footer {
	background-color: #e3b1b2;
	color: #ccc;
	padding: 60px 0 30px;
}

.footer-copyright {
	color: #666;
	padding: 40px 0;
}

/*--- modal ---*/
#demo-modal .modal-content {
	border-radius: 0;
	padding: 2rem;
}

#demo-modal .modal-header {
	border-bottom: none;
}

#demo-modal h4 {
    color: #000;
    font-size: 30px;
    margin: 0 0 25px;
    font-weight: bold;
    text-transform: capitalize;
}

img.shoppingcart {
  	position: relative;
    width: auto;
    height: 60px;
}

#demo-modal .close {
	background: #c0c3c8;
    border-radius: 50%;
	color: #fff;
    font-size: 19px;
	font-weight: normal;
    height: 30px;
    opacity: 0.5;
    padding: 0;
    position: absolute;
    right: 26px;
    text-align: center;
    top: 26px;
    width: 30px;
}

#demo-modal .close span {
	position: relative;
	top: -3px;
}

#demo-modal .modal-body p {
	color: #999;
}

#demo-modal .form-control,
#demo-modal .btn {
	min-height: 46px;
}

#demo-modal .btn {
	background-color: #1da098;
	border: none;
	color: #fff;
	min-width: 150px;
	transition: all 0.4s;
}

#demo-modal .btn:hover,
#demo-modal .btn:focus {
	background-color: #12968d;
}

.container-about {
    background-color: #E3B1B2;
}
.container-font {
    background-color: #669691;
    padding: 50px 50px 0 50px;
}

.container-palette {
    background-color: #E6927A;
}
.container-about-design {
    background-color: #E3B1B2;
    color: #FFFFFF;
	border-bottom: 2px solid black;
}
.container-wireframes {
    background-color: #659692;
    color: #FFFFFF;
	padding: 50px;
	border-bottom: 2px solid black;
}

.container-palette-design {
    padding: 75px;
	border-bottom: 2px solid black;
}

	img.picture1 {
	width: 400px;
	}

	.carouselContainerdesign {
		padding: 60px 0 30px;
	}

	.visual1 {
		width: 600px;
		height: 500px;
	}

	.container-flowdiagram {
		background-color: #6EA0B7;
		padding: 75px;
		color: #FFFFFF;
		border-bottom: 2px solid black;
	}

	.container-font {
		color: #FFFFFF;
		border-bottom: 2px solid black;
	}

	.container-palette-design {
		background-color: #9F9D9E;
		color: #FFFFFF;
	}

	.container-prototype {
		background-color: #ED593F;
		padding: 60px 0 30px;
		color: #FFFFFF;
	}

.carouselContainerdesign {
    padding: 60px 0 30px;
}
.visual1 {
    width: 600px;
    height: 500px;
}
.container-flowdiagram {
    background-color: #6EA0B7;
    padding: 75px;
    color: #FFFFFF;
	border-bottom: 2px solid black;
}
.container-font {
    color: #FFFFFF;
	border-bottom: 2px solid black;
}
.container-palette-design {
    background-color: #9F9D9E;
    color: #FFFFFF;
}
.container-prototype {
    background-color: #E6927a;
    padding: 60px 0 30px;
    color: #FFFFFF;
}


/*--- media queries ---*/
@media (max-width: 2200px) {



	.description p {
	font-size: 6rem;
	margin-right: 0;
	}

	.container-fluid {
	height: 1400px !important;
	}
	

}

@media (max-width: 1152px) {
	.values {
	width: 103%;
	}
}

@media (max-width: 510px) {
	#fontjegroot2 {
	font-size: 70px !important;
	}
}

@media (max-width: 1100px) {
	li.nav-item {
    width: 100px !important;
	}

}


@media (max-width: 1700px) {
	
		img.colorPalette {
			width: 800px;
		}
		li.nav-item {
			width: 150px;

	}
}

@media (max-width: 1500px) {
	
	img.colorPalette {
		width: 600px;
	}
	
}

@media (max-width: 2000px) {

	img.picture1 {
		width: 500px;
	}
	.description p {
		font-size: 5rem;
		margin-right: 0;
	}
	
	img.shoppingcart {
	position: relative;
    height: 60px;
	right: 20px;
}
	
	a.nav-link {
    margin-left: 0;
	margin-right: 0;
	background: none;
}
	
	li.nav-item {
    width: 120px;
}
	
	.container-fluid {
    height: 1100px !important;
}
	
	a.nav-link {
		border: 0;
	}
	
}

@media (max-width: 1200px) {
img.shoppingcart {
	width: 60px;
	right: 20px;
    position: relative;
    bottom: 0px;
}
	
	img.picture1 {
		width: 400px;
}
	
	
	.container-fluid {
    height: 1000px !important;
}
	
	li.nav-item {
     width: 107px;
    position: relative;
    float: left;
    left: -60px;
	}
}


@media (width: 992px) {
	.valuephotos {
	float: none;
    display: block;
    margin: 0 auto;
	}
}

@media (max-width: 460px) {
	footer.page-footer p {
		width: 80%;
		margin: 0 auto;
		display: block;
	}
}


@media (max-width: 991.98px) {
	
.container-palette {
    padding: 50px;
	}
	
	form#contact-form {
	padding: 25px 100px 75px 100px;
	}
	
	.container-AboutProducts img.benefit2 {
    width: 300px !important;
}
	
	.container-AboutProducts img.benefit4 {
    width: 300px !important;
}
	
	img.benefit1, img.benefit2, img.benefit3, img.benefit4 {
    width: auto !important;
    height: auto !important;
}
	
	.container-AboutProducts .col-md-3 {
    display: contents;
}
	
	#fontjegroot {
	font-size: 80px !important;
}
	
	#fontjegroot1 {
    font-size: 70px;
}
	
	p.text-boyana {
    font-size: 21px;
}
	
	.container-product img {
    width: 150px;
	}
	
	#fontjegroot2 {
    font-size: 100px;
	}
	
	.values {
	width: 100%;
	}
	
	img.missionImage {
  	width: 700px;
	}
	
	nav.navbar.navbar-expand-lg.navbar-light.bg-light a {
		font-size: 24px;
		line-height: 50px;
	}
	
	.valuephotos {
    float: none;
	display: block;
    margin: 0 auto;
	}
	
	
	.container-mission {
		padding: 50px;
	}
	
	.arrow {
	position: relative;
	top: 350px;
	left: 30px;
	}
	

	img.colorPalette {
	width: 500px;
	}
	
	img.picture1 {
    width: 350px;
    position: absolute;
    display: block;
    bottom: -350px;
    margin-left: auto;
    margin-right: auto;
    left: -150px;
	}
	
	button.navbar-toggler {
    position: relative;
    left: -50px;
	}
	
	.container-fluid {
    height: 1000px !important;
	}

	img.shoppingcart {
    position: relative;
    left: 0;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
	}
	
	li.nav-item {
    display: block;
    text-align: center;
    margin: 0 auto;
    left:  10px;
    width: 100% !important;
	}
	
	img.Posby {
		opacity: 100%;
	}
	
	p.comfortSeason {
    text-align: center;
    margin-bottom: 50px;
    font-size: 4rem;
    position: relative;
    left: 210px !important;
    width: 100%;
    float: right;
	}
	
	.container.comfort {
    padding: 0px 0px 400px 0px;
	}
	
}
	
@media (max-width: 1500px) {
	p.comfortSeason {
		font-size: 6rem;
		left: -150px;
	}

}
	
@media (max-width: 768px) {
	
	form#contact-form {
    width: 100% !important;
	}
	
	.visual1 {
    width: 300px;
    height: 300px;
}
	
	.container-cards .card {
    margin-bottom: 25px;
}
	
	.checkoutlarge {
    font-size: 70px !important;
}
	
	.textEmail  {
		display: block;
	}
	
		.card {
    width: 250px !important;
    display: block;
    margin: 0 auto;
}
	
	.arrow {
    position: relative;
    top: 350px;
    left: 0px;
}
	
	.textSocialContact p {
    margin-bottom: 30px;
	}
	
	.socials img {
    margin-right: 0;
	}
	
	form#contact-form input {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
	}
	
	#fontjegroot {
	text-align: center;
	}
	
	#image1, #image2, #image3, #image4 {
	margin-bottom: 25px;
	}
	
	.headje {
	padding: 0 !important;
	}
	
	.paragrahpho p {
    text-align: center;
	}
	
	footer.page-footer {
    text-align: center;
	}
	
	#whowe1, #whowe2, #whowe3, #whowe4 {
	display: block;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	}
	
	.valuephotos {
	float: none !important;
    margin: 0 auto;
    position: relative;
    display: block;
    margin-left: auto !important;
    margin-right: auto;
	}

	.description p {
	font-size: 4rem;
	margin-right: 0;
	}
	
	.picture1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0;
	}
	
	img.picture1 {
	left: 110px;
	}
	
	img.colorPalette {
	width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
	}
	
	.container-fluid {
    height: 1000px !important;
	}
	
	img.Posby {
	opacity: 100%;
	}
	
	p.comfortSeason {
	left: 0px !important;
	}
		
}
		

@media screen and (width: 768px) {
.textEmail {
    display: flex !important;
}
	.textEmail a {
    display: flex !important;
}
	
	img.picture1 {
	left: -160px !important;
	}
	
	p.comfortSeason {
	left: 185px !important;
	}
	
	.overlayProduct {
    width: 150px !important;
}	
	footer.page-footer {
	text-align: left;
	}
	
	
	img#image1, img#image2, img#image3, img#image4 {
    width: 150px !important;
}
	
}

	
@media (max-width: 1300px) {

	p.comfortSeason {
		left: -150px;
	}
}
	
	@media (max-width: 400px) {
		
	#fontjegroot2 {
    font-size: 60px !important;
}
		
	h1#fontjegroot1 {
	font-size: 35px !important;
	}
		
	img.picture1 {
	width: 250px !important;
	margin-top: 50px;
	}
		
	div#overlayProduct1 {
    width: 250px !important;
    height: 230px !important;
}
		
	div#overlayProduct2 {
	width: 250px !important;
    height: 230px !important;
}
		
	.overlayProduct {
	width: 250px !important;
	height: 240px !important;
	}

	  .servicesss {
	  width: 60%;
	  }
		
	h1.headerproducts {
		font-size: 60px !important;
	}
		
	img#image1, img#image2, img#image3, img#image4 {
		width: 250px !important;
	}
		
	p.comfortSeason {
    margin-bottom: 0 !important;
    font-size: 5rem;
	}
		
	img.missionImage {
    width: 200px !important;
	}

}
	
		
@media (max-width: 500px) {

	.topText p {
		font-size: 120px;
	}
	
	img.benefit1, img.benefit2, img.benefit3, img.benefit4 {
    width: 150px !important;
    height: 150px !important;
}
	
	.container-AboutProducts img.benefit2 {
    width: 150px !important;
}
	.container-AboutProducts img.benefit4 {
    width: 150px !important;
}
	
}

@media (max-width: 450px) {
	img.missionImage {
    width: 250px !important;
	}
	
	h1#fontjegroot1 {
		font-size: 40px;
	}
	
	.container-product .headerProducts h1 {
    font-size: 50px;
	margin-bottom: 0;
	}

	
	.contactText h1 {
    font-size: 40px;
}
	
	.checkoutlarge {
    font-size: 50px !important;
}
	
	img.review1, img.review2, img.review3 {
    width: 250px !important;
    height: 250px !important;
}
	
}
	
@media (max-width: 575.98px) {
	
	p.paragraphvalues {
    left: 0 !important;
	}
	
	h1.missionheading {
		font-size: 70px;
	}
	
	.contactText h1 {
    font-size: 50px;
}

	
	img.review1, img.review2, img.review3 {
    width: 300px;
    height: 300px;
}
	
	p.comfortSeason {
    margin-bottom: 25px;
    position: relative;
    font-size: 5rem;
}
	
	img.missionImage {
    width: 550px;
	}
	
	h1.headerproducts {
		font-size: 75px;
	}
		
	.arrow {
		margin-top: -50px;
	}
	
	#whowe1, #whowe2, #whowe3, #whowe4 {
    display: block;
    width: 100%;
	margin-bottom: 25px;
	}
	
	.persons {
	margin-top: 0;
    padding: 0px 25px 0px 25px;
	}

	.description {
	left: 0;
	padding: 0 15px;
	position: absolute;
	top: 10%;
	transform: none;
	text-align: center;
	}
	
	.headerFooter h6 {
	font-size: 2rem;
	}
	
	footer.page-footer {
    font-size: 21px;
	}
	
	img.Posby {
		opacity: 100%;
	}
	
	img.picture1 {
    width: 300px;
    left: 0;
	top: -20px;
    right: 0;
	}
	
	.description h1 {
	font-size: 2em;
	}
	
	.container.comfort {
    padding: 25px 0px 425px 0px;
	width: 90%;
	}
	
	p.comfortSeason {
	margin-bottom: 25px;
	position: relative;
	font-size: 5rem;
	}
	
	.container-fluid {
    height: 1000px !important;
	}
	
	.description p {
		font-size: 3rem;
		margin-left: 0;
	}
	
	footer.page-footer {
    text-align: center;
	}
	
	.features {
		margin: 0;
	}
	
	.team {
		max-width: 60%;
	}
	
	#demo-modal .btn {
		min-width: auto;
	}
	
}

@media (max-width: 1500px) {
		img#image1, img#image2, img#image3, img#image4  {
		width: 250px;
	}
	
	.overlayProduct {
    width: 250px;;
	}
}

@media (max-width: 1100px) {
		img#image1, img#image2, img#image3, img#image4  {
		height: 190px;
		width: 170px;
	}
	
	.overlayProduct {
    width: 170px;;
	}
}

@media (max-width: 768px) {
	img#image1, img#image2, img#image3, img#image4  {
		width: 300px;
		height: auto;
	}
	
	.container-prototype h4 {
		text-align: center;
	}
	
	.container-product .text-center {
    margin-bottom: 25px;
    margin-top: 50px;
}
	
	
	.container-AboutProducts .card.p-3.bg-white {
    width: 400px !important;
	margin-bottom: 50px;
}

	
	.container-cards h6 {
    font-size: 16px !important;
}


	div#overlayProduct1 {
    width: 300px;
    height: 275px;
}
	
	div#overlayProduct2 {
    width: 300px;
    height: 275px;
}
	
	h1#fontjegroot2 {
    text-align: center;
}
	
	.servicesss {
  width: 70%;
  margin: 0 auto;
  display: block;
  }
	
	.textEmail a {
    display: block;
}
	
	p.paragraphvalues {
    text-align: center;
    position: relative;
    width: 80%;
    font-size: 22px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
	
	.overlayProduct {
    width: 300px;
	height: 290px;
	}
}

.quotep{
	font-family: 'Staatliches', cursive;
	text-align: center;
	color: white;
	font-size: 60px;
	}

.missionheading{
    font-family: 'Staatliches', cursive;
    text-align: center;
    color: white;
    font-size: 100px;
    margin-top: 50px;
}
.missionheading:hover{
	color: #6EA0B8;
	}

.headerMission{
    height: 120px;
}

.who1{
	font-family: 'Staatliches', cursive;
    text-align: center;
    color: white;
    font-size: 100px;
    margin-bottom: 25px;
}

.container-services{
	background: #9f9d9e;
	padding-top: 50px;
	border-bottom: 2px solid #000000;
}
.servicesss{
    height: auto;
    padding-top: 9px;
    padding-bottom: 65px;
    font-size: 20px;
    text-align: center;
}
.service{
    font-family: 'Staatliches';
	font-size: 45px;
    text-align: center;
    padding-top: 19px;	
	text-decoration: underline;	
}

#heer{
    color: white;
    text-decoration: underline;	
	
}

.container-checkout{
	    background-color: #e3b1b1;

}

.container-checkout2{
    background-color: white;
    border-style: solid;
    border-color: #010101;	
}
.productbought{
    width: 200px;
    height: 200px;
	
}
.productboughttitle{
	  font-family: 'Staatliches';
	font-size: 25px;
	color: black;
    text-align: left;	
	text-decoration: underline;	
}

.offerswim{
    width: 200px;
    height: 200px;
    align-content: center;
    border-radius: 300px;
	display: block;
    margin: 0 auto;

}
.offerswim1{
	width: 200px;
	height: 200px;
	align-content: center;
	border-radius: 300px;
}

.offerswim2{
	width: 200px;
	height: 200px;
	align-content: center;
	border-radius: 300px;
}


.checkoutlarge{
	 font-family: 'Staatliches';
	font-size: 100px;
    text-align: center;
    padding-top: 19px;	
	color: white;
}

.checkoutlarge:hover{
	color: #6EA0B8;
}

#notwhite, #notwhite1, #notwhite2{
    color: black;
    font-style: italic;	
}

.reviewtitle{
		 font-family: 'Staatliches';
	font-size: 55px;
	color: white;	
}

.reviewpara{
    font-style: italic;	
}

.container-checkout3 {
    background-color: white;
    padding-top: 34px;
    padding-right: 34px;
    padding-bottom: 34px;
    padding-left: 34px;
    border-radius: 12px;
}

.lh-condensed { line-height: 1.25; }

@media (max-width: 960px) {
	.container-cards h6 {
    font-size: 12px;
}
}

.designparagraph{
    text-align: center;
    font-size: x-large;
    padding-bottom: 25px;	
}

.designparagraphs2{
    text-align: center;
    padding-bottom: 25px;
	
}

.firstdraft{
	font-family: 'Staatliches';
	font-size: 55px;
	color: white;
	text-align: center;
}
.seconddraft{
		font-family: 'Staatliches';
	font-size: 25px;
	color: white;
}
.seconddraft:hover{
	color:white;
	text-decoration:underline;
}

@media (max-width: 1700px) {
	img.benefit1, img.benefit2, img.benefit3, img.benefit4 {
		width: 225px;
		height: 200px;
	}
}

@media (max-width: 1500px) {
	img.benefit1, img.benefit2, img.benefit3, img.benefit4 {
		width: 200px;
		height: 200px;
	}
}

@media (max-width: 1300px) {
	img.benefit1, img.benefit2, img.benefit3, img.benefit4 {
		width: 175px;
		height: 175px;
	}
}

@media (max-width: 1200px) {
	img.benefit1, img.benefit2, img.benefit3, img.benefit4 {
		width: 150px;
		height: 150px;
	}
}

@media (max-width: 1100px) {
	img.benefit1, img.benefit2, img.benefit3, img.benefit4 {
		width: 125px;
		height: 125px;
	}
}

@media (max-width: 410px) {
.contactText h1 {
    font-size: 40px;
	}
		.visual1 {
		width: 150px !important;
		height: 150px !important;
	}
}

@media (max-width: 550px) {
	#fontjegroot1 {
		font-size: 50px;
	}
	
	.visual1 {
    width: 200px;
    height: 200px;
}
}